@import "../../App.scss";

.homePage {
    display: flex;
width: 100%;

@include themify($themes) {


    background-color: themed("bg");
    color: themed("textColor");
    &::-webkit-scrollbar {
        display: none;
      }
      .feedsBox{
        padding: 20px 70px;
        background-color: themed("bgSoft");
        // height: calc(100vh - 50px);

    flex: 6;
    @include mobile{
        padding: 20px 5px 20px 10px;
        flex: 5;

      }
    }
}
}